.information-box {
  display: flex;
  flex-direction: row;
}

.info-left {
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  margin-left: 2vw;
  flex-grow: 1;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.info-right {
  flex-direction: column;
  flex: 0 1 auto;
}

.quote-container {
  margin-top: 2em;
  margin-right: 2em;
  border: 1px dotted #1a1818;
  width: 30vw;
}

.quote-contents {
  padding: 0em 1em 0em 1em;
}

.card {
  min-width: 275;
  max-width: 30vw;
  flex: 0 1 auto;
}

.title {
}
