.sidebar-item {
  border: 1px solid black;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}

.sidebar-item:hover {
  background-color: #e803fc;
}

.sidebar-item-name {
  font-style: bold;
  font-size: 1.4em;
}

.sidebar-item-address {
}
