.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-left {
  flex-grow: 1;
  font-size: 2em;
}

.header-right {
  font-size: 0.8em;
}
