.page {
  margin-left: 2px;
}

.container {
  display: flex;
  flex-direction: row;
}

.inspectedByContainer {
  flex-grow: 1;
}
.inspectedByContainer > img {
  margin-top: 3px;
  width: 100%;
  height: auto;
}
.top {
  flex-direction: column;
  width: 160vw;
}

.map-container {
  width: 500vw;
  height: 300vh;
  color: blue;
}

.icon-attribution {
  font-size: 0.3em;
  text-decoration: none;
  color: grey;
}

.mapMarkerStyle {
  width: 49.77777px;
  height: 60px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.mapMarkerStyleHovered {
  transform: scale(1.5);
}
