.container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}
.header {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
}
.top {
  display: flex;
  flex-direction: column;
}

.bottom {
}

.mapMarkerStyle {
  background-image: url("./piggy-bank-facing-right.svg");
  background-size: cover;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
