.page {
  margin-left: 2px;
  display: flex;
  flex-direction: row;
}

.sidebar-container {
  flex-direction: column;
  display: flex;
  width: 20vw;
  height: 100vh;
  overflow-y: scroll;
}

.right-container {
  display: flex;
  flex-direction: column;
  margin-top: 3px;
  margin-right: 3px;
}

.top-container {
  display: flex;
  flex-direction: row;
}

.inspectedByContainer {
  flex-grow: 1;
}
.inspectedByContainer > img {
  margin-top: 3px;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  z-index: 2;
  width: 1px;
  height: 1px;
  opacity: 1;
  pointer-events: auto;
  margin-left: 7px;
  margin-top: 7px;
}

.map-container {
  flex-grow: 1;
  width: 80vw;
  height: 50%;
  color: blue;
  z-index: 1;
}

.video-container {
  flex-grow: 1;
  min-width: 320px;
  height: auto;
}

.mapMarkerStyle {
  width: 49.77777px;
  height: 60px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.mapMarkerStyleHovered {
  transform: scale(1.5);
}

.icon-attribution {
  font-size: 0.3em;
  text-decoration: none;
  color: grey;
}

.bottom-container {
  display: flex;
  flex-direction: row;
}
